%h1 Search Results

= render 'shared/search'

- @items.each do |item|
  - if item.is_a? Post
    = render 'shared/post', post: item, social: false
  - elsif item.is_a? Profile
    = render 'shared/profile', profile: item
