!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %h1
      = @subject
    %p
      = @message
    %p
      = link_to "View On Bzzeo", @link
