%h1 Notifications

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Message
        %th View
    %tbody
      - @notifications.each do |notification|
        %tr
          %td= notification.message
          %td= link_to "View", notification.link, :class => "btn btn-default btn-xs"
