-# Shared by
-# = link_to profile_path(share.profile) do
-#   = share.profile.name
-# = time_ago_in_words share.created_at
-# ago
= link_to share_path(share) do
  = render 'shared/post_sm', post: share.post
